{% extends "base.html" %}
{% block content %}

<h1>Upload new File</h1>

<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

<div>
  {% if result %}
    <table border="1">
      <tr>
        <th>outcome</th>
        <th>Treated</th>
        <th>Untreated</th>
        <th>ATE</th>
      </tr>
      {% for outcome, row in result %}
      <tr>
        <td>{{ outcome }}</td>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</th>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>



{% endblock %}
